<div class="col-xs-12">
	<h1>Labels</h1>

	<table class="table droid_sans_font">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
			<% @labels.each do |label| %>
			<tr>
				<td> <%= link_to label.name, label_path(label) %></td>
				<td>
					<%= link_to 'Show', label_path(label), :class => "btn btn-primary" %>
					<%= link_to 'Edit', edit_label_path(label), :class => 'btn btn-default' %>
					<%= link_to 'Delete', label_path(label), method: 'delete', :class => "btn btn-danger" %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<br/>
	<div class="col-xs-1 col-xs-offset-5">
		<%= link_to 'New Label', new_label_path, :class => "btn btn-success droid_sans_font" %>
	</div>
</div>