<%= form_for @artist do |f| %>
	<% if @artist.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved </h2>
		</div>
	<% end %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :age %>
		<%= f.text_field :age %>
	</p>

	<p>
		<%= collection_select(:label , :label_id, Label.all, :id, :name, :prompt => 'Select a label') %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>