<div class="well">
	<%= simple_form_for([@artist, @song], html: {:class => 'form-horizontal'} ) do |f| %>
		<%= f.input :track, label:false, input_html: {:class => 'form-control droid_sans_font form_input', placeholder: "Song name"} %>

		<%= f.input :time, label:false, input_html: {:class => 'form-control droid_sans_font form_input', placeholder: "Time"} %>

		<%= f.input :genre, label:false, input_html: {:class => 'form-control droid_sans_font form_input', placeholder: "Genre"} %>

		<%= f.submit "Submit".html_safe, :class => 'btn btn-lg btn-success'%>
	<% end %>








</div>