<div class="col-xs-12">
<h1 style="font-size:100px;">Posts</h1>

<table class="table table-responsive table-bordered table-hover">
<tr> 
	<th> Title </th>
	<th> Url </th>
	<th> Actions</th>
</tr>

<% @posts.each do |post| %>
<tr> 
	<td class="col-xs-2"> <%=link_to post.title, post_path(post) %> </td>
	<td> <%=link_to post.link, posts_path %> </td>
	<td>
		<%=link_to "Show", post_path(post), :class => 'btn btn-primary btn-sm' %>
		<% if user_signed_in? %>
			<% if post.user_id == @user.id %> 
				<%=link_to "Edit", edit_post_path(post), :class => 'btn btn-default btn-sm' %> 
				<%=link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure"}, :class => 'btn btn-danger btn-sm' %>
			<% end %>
		<% end %>
	</td>
</tr>
<%end %>


</table>

<div style="text-align:center;" class="well white ">
<%=link_to "New Post", new_post_path, :class => "btn btn-lg btn-success" %>  
</div>
</div> 