<h1>Posts</h1>

<%= link_to 'New Post', new_post_path %>
<table>
	<tr>
		<th>Title</th>
		<th>Url</th>
		<th>Date</th>
		<th>Votes</th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td> <%=link_to post.title, post_path(post) %> </td>
		<td> <%=link_to post.url, posts_path %> </td>
		<td> <%=post.created_at.strftime("%B %d, %Y")%> </td>
		<td style="text-align:center;"> <%= post.vote %> </td>
		<td> <%=link_to 'Edit', edit_post_path(post) %> </td>
		<td> <%=link_to 'Delete', post_path(post), method: :delete %> </td>
	</tr>
	<% end %>
</table>