<h1>New Post</h1>

<%= form_for @post, url: posts_path do |f| %>
	<% if @post.errors.any? %>
		<div id='error_explanation'>
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this article from being saved: </h2>
		</div>
	<% end %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :url %><br/>
		<%= f.text_field :url %><br/>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>