<h1> <%= @post.title %> </h1>
<p> <%= @post.url %> </p>
<p> <%= @post.vote %> </p>

<%= form_for @post, :url => {action: :voting}, :method => "put" do |f| %>
	<span> <%= f.submit "Upvote", class: 'btn btn-primary'%> </span>
	<span> <%= f.submit "Downvote", class: 'btn btn-primary' %> </span>
<% end %>

<%= link_to 'Back', posts_path %>