<h1> <%= @post.title %> </h1>
<p> <%= @post.url %> </p>
<p> <%= @post.vote %> </p>

<%= form_for @post, :url => {action: :voting}, :method => "put" do |f| %>
	<span> <%= f.submit "Upvote", class: 'btn btn-primary'%> </span>
	<span> <%= f.submit "Downvote", class: 'btn btn-primary' %> </span>
<% end %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a Comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %>